<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Timovey/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Timovey" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>